[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent.git
